@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
* {
    font-family: Poppins;
    color: white;
    margin: 0;
    padding: 0;
}
.first_main_article {
    background: linear-gradient(108deg, #309975 0%, #58B368 100%);
    padding: 30px 150px 150px 150px;
    position: relative;
}
.first_article_header {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
}
.logo-img {
    width: 100%;
    height: 100%;
    position: relative;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
}
main h1 {
    text-transform: uppercase;
    font-size: 28px;
    word-wrap: break-word;
    font-weight: 700;
    margin-left: 5px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_list {
    display: flex;
    list-style-type: none;
}
.nav_list a {
    text-decoration: none;
    margin: 0 50px 0 40px;
    font-size: 18px;
    position: relative;
}
.underline_hover {
    width: 20%;
    border: 1px #DAD873 solid;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;
}
.nav_list a:hover .underline_hover {
    width: 100%;
}
.login_btn, .signup_btn {
    font-size: 18px;
    margin: 0 10px 0 10px;
}
.login_btn {
    background: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.signup_btn {
    background: #DAD873;
    border: none;
    border-radius: 5px;
    color: #309975;
    padding: 10px 30px 10px 30px;
    font-weight: 700;
    cursor: pointer;
}
.main_article {
    padding-top: 100px;
    display: flex;
}
.main_txt h2 {
    color: white;
    font-size: 80px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 88.40px;
    word-wrap: break-word;
}
.main_txt {
    width: 45%;
}
.main_txt hr {
    height: 3px;
    border-radius: 5px;
    background-color: white;
}
.main_row {
    display: flex;
    justify-content: space-between;
}
.main_col {
    width: 25%;
}
.main_col h3 {
    color: white;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word
}
.main_col p {
    color: white;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 21.60px;
    word-wrap: break-word;
}
.main_txt_button {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.15);
    background: #DAD873;
    border: none;
    border-radius: 10px;
    color: #309975;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    word-wrap: break-word;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    margin-top: 100px;
}
.main_img {
    bottom: 0;
    right: 40px;
    width: 63%;
    height: 80%;
    position: absolute;
    pointer-events: none;
}
.second_main_article {
    padding: 50px 150px 50px 150px;
}
.second_article_header h2 {
    text-align: center;
    color: #309975;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
}
.second_article_header p {
    text-align: center;
    color: #575757;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30.04px;
    word-wrap: break-word;
}
.second_main_article section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.petal {
    background: rgba(239, 238, 180, 0.20);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 40px 60px 20px 60px;
}
.petal:nth-child(1) .petal_header {
    background: #DAD873; 
    border-radius: 10px;
    width: fit-content;
    padding: 10px 30px 10px 30px;
    color: #575757; 
    font-size: 18px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word;
}
.petal:nth-child(2) .petal_header {
    background: #FFCDC2; 
    border-radius: 10px;
    width: fit-content;
    padding: 10px 30px 10px 30px;
    color: #575757; 
    font-size: 18px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word;
}
.petal:nth-child(1) h2 {
    margin: 40px 0;
    color: #DAD873;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}
.petal:nth-child(2) h2 {
    margin: 40px 0;
    color: #F8BF88;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}
.second_main_article ul {
    padding-left: 20px;
}
.second_main_article ul > li {
    color: #575757;
    padding: 15px 0 15px 0;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}
.learn_more_btn {
    margin-top: 40px;
    background: #F8BF88; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 5px;
    color: #575757;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    cursor: pointer;
    border: none;
    padding: 12px 30px;
}
.petal:nth-child(1) .card_div {
    background: linear-gradient(180deg, #DAD873 0%, #FFCA63 100%); 
    border-radius: 15px;
    padding: 20px 30px;
    width: 240px;
    margin: 60px 0 40px 0;
}
.petal:nth-child(2) .card_div {
    background: linear-gradient(180deg, #FFCDC2 0%, #F88888 100%);
    border-radius: 15px;
    padding: 20px 30px;
    width: 240px;
    margin: 60px 0 40px 0;
}
.card_div h3 {
    color: #20656F;
    font-size: 24px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36.05px;
    word-wrap: break-word;
}
.card_div p {
    margin-top: 30px;
    color: #20656F;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 27.03px;
    word-wrap: break-word;
}
.card_div span {
    font-weight: 700;
    color: #20656F;
}
.third_main_article {
    background: linear-gradient(108deg, #309975 0%, #58B368 100%);
    padding: 100px 200px 100px 150px;
    justify-content: space-between;
}
.third_article_header h2 {
    color: white;
    font-size: 48px;
    margin-bottom: 15px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 50.40px;
    word-wrap: break-word;
}
.third_article_header p {
    color: white;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 25.29px;
    word-wrap: break-word;
}
.exchange_row {
    display: flex;
    margin: 20px 0 20px 0;
    justify-content: space-between;
    width: 400px;
}
.exchange_row p {
    color: white;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 25.20px;
    word-wrap: break-word;
}
.exchange_row p:nth-child(2), p:nth-child(3) {
    font-weight: bold;
    display: flex;
    align-items: center;
}
.exchange_row p > i {
    color: #FFCA63;
    font-size: 10px;
    margin-left: 5px;
}
.sell_values {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sell_values_block {
    margin: 20px 0;
}
.input_block {
    display: flex;
    border: 2px solid white;
    padding: 20px 40px;
    justify-content: space-between;
}
.input_block p {
    color: white;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 37.80px;
    word-wrap: break-word;
}
.sell_values_input {
    background: none;
    border: none;
    transition: .4s;
    color: white;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 37.80px;
    word-wrap: break-word;
    width: 150px;
}
.sell_values_input:focus {
    outline: none;
    border-bottom: 2px solid white;
}
.sell_values_input[type="number"]::-webkit-inner-spin-button,
.sell_values_input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Убираем отступы, которые могут остаться */
}
.exchange_btn {
    background: #FFCA63; 
    border-radius: 5px;
    color: #20656F;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 18.90px;
    word-wrap: break-word;
    padding: 15px 18px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}
.global_services {
    margin-top: 50px;
}
.global_services_header {
    text-align: center;
}
.global_services_header h2 {
    color: #575757;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 63.60px;
    word-wrap: break-word;
}
.global_services_header p {
    color: #575757;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 31.80px;
    word-wrap: break-word;
}